* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and layout */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.get-started a {
    padding: 10px 20px;
    background-color:  #6d9efa;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.get-started a:hover {
    background-color: #6d9efa;
}

/* Hero  */
.hero {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #fff;
}

.hero-content {
    flex: 1;
    max-width: 50%;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

button {
    padding: 10px 20px;
    background-color: #6d9efa;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #dd7d8d;
}

/* Image */
.hero-image {
    flex: 1;
    max-width: 50%;
}

.hero-image img {
    width: 70%;
    height: auto;
}